@model List<BillSplitter.Models.ViewModels.ViewBill.BillViewModel>

<p>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#enterBillName">
        Create empty bill
    </button>
</p>
<div id="enterBillName" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter bill name</h4>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("EnterBillNamePartial", new Bill())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitBillNameForm()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
<h1>Your Bills</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var bill in Model)
    {
        <tr>
            <td>@bill.Bill.Name</td>
            <td>
                @Html.ActionLink("View bill", "ViewBill", new { billId = @bill.Bill.Id }, new { @class = "btn btn-primary" })
               @if (bill.isAdmin)
               {
                <button type="button" id="deleteButton" class="btn btn-primary" onclick="showDeleteConfirmationDialog(@bill.Bill.Id)">
                    Delete bill
                </button>
               }
                <button class="copy-btn btn btn-primary" 
                        data-clipboard-text="@Url.Action("JoinBill", "Bills", new {billId = @bill.Bill.Id},Context.Request.Scheme)">
                    Copy link to bill
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

<div id="deleteConfirmationDialog" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                You are now deleting bill. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                <button id="deleteSubmissionButton" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>



<script>
    function showDeleteConfirmationDialog(billId) {
        $(document).ready(() => {
            $('#deleteSubmissionButton').on('click', (e) => {
                $.post(`Bills/${billId}`);
                $('#deleteConfirmationDialog').modal('toggle');
                window.location.reload();
            });

            $('#deleteConfirmationDialog').modal('toggle');
        });
    }
</script>
<script>
    var btns = document.querySelectorAll('.copy-btn');
    var clipboard = new ClipboardJS(btns);
</script>