@model BillSplitter.Models.ViewModels.BillIndexViewModel

<p> Your own bills </p>

<p>
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#enterBillName">
        Create empty bill
    </button>
</p>
<div id="enterBillName" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter bill name</h4>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("EnterBillNamePartial", new Bill())
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitBillNameForm()">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>

<h1>Managed Bills</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model.AdminBills)
        {
            <tr>
                <td>@bill.Name</td>
                <td>

                    @Html.ActionLink("View bill", "ViewBill", new { billId = @bill.Id }, new { @class = "btn btn-primary" })
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmation_@bill.Id">
                        Delete bill
                    </button>
                    <button onclick="copyJoinLink(@bill.Id)" class="btn btn-primary">Copy Join Link</button>
                    <!-- The text field -->
                    <input type="text" class="invisible" value="@ViewData["absoluteLink"]@Url.Action("JoinBill", "Bills", new {  billId = bill.Id })" id="JoinLink_@bill.Id">

                    <!-- The button used to copy the text -->


                </td>
            </tr>

            <div id="deleteConfirmation_@bill.Id" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure?</h4>
                        </div>
                        <div class="modal-body">
                            You are now deleting bill. Are you sure you want to delete?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                            <form asp-action="Delete" asp-route-billId="@bill.Id">
                                <input type="submit" class="btn btn-primary" value="Yes" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        }
    </tbody>
</table>


<h1>Bills you are joined in</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bill in Model.CustomerBills)
        {
            <tr>
                <td>@bill.Name</td>
                <td>
                    @Html.ActionLink("View bill", "ViewBill", new { billId = @bill.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function copyJoinLink(id)
    {
      /* Get the text field */
        var copyText = document.getElementById("JoinLink_"+id);

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }
 </script>