@using BillSplitter.Models.InteractionLevel
@model List<BillSplitter.Models.InteractionLevel.InteractionLevelPosition>
@{
    ViewData["Title"] = "New Bill";
}


<form id="NewBillForm" action="/Bills/NewBill" method="post">
    <table id="PositionsTable" class="table" >
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => position.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => position.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => position.QuantityNumerator)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
@Html.Partial("AddPositionPartial", new InteractionLevelPosition(), ViewData)
<button onclick="location.href='@Url.Action("SelectPositions", "Bills", new
                                {
                                    billId = ViewData["billId"]
                                })'">
    Go to selection
</button>