@model BillSplitter.Models.ViewModels.PickPositions.PositionViewModel

<td>
    <input type="checkbox" checked="@Model.Selected" id="@Model.Id" onclick="positionChecked(@Model.Id)">
</td>
<td>
    @Model.UserQuantity
    <input type="number" value="1" id="quantity_@Model.Id" onblur="quantityEntered(@Model.Id)">
</td>

<td>
    @Model.Name
</td>
<td>
    @Model.Price
</td>
<td>
    @Model.PickedQuantity
</td>


<td>
    @Model.Orders.Count
</td>
<td>
    <ul class="list-group list-group-horizontal">
        @for (int i = 0; i < Model.Orders.Count && i < 3; i++)
        {
            <li class="list-group-item">@Model.Orders[i].Customer.Name</li>
        }
        @if (Model.Orders.Count > 3)
        {
            <li class="list-group-item">+@(Model.Orders.Count - 3)</li>
        }
    </ul>
</td>