@model BillSplitter.Models.InteractionLevel.InteractionLevelPosition



    <td>
        @Model.Name
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @Model.QuantityNumerator
    </td>
    <td>
        @Html.ActionLink("Update", "Update", new { billId = ViewData["BillId"], positionId=Model.Id}, new { @class = "btn btn-outline-dark" })
    </td>

<td>
    <form asp-action="Delete" asp-route-positionId="@Model.Id" asp-route-billId="@ViewData["BillId"]">
        <input type="submit" class="btn btn-outline-dark" value="Delete" />
    </form>
</td>